@import url(https://fonts.google.com/specimen/Source+Serif+Pro?query=serif);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgrey;
  flex-direction: column;
}
.register-style {
  margin-bottom: 20px;
}
.main-header {
  font-family: 'Work Sans', sans-serif;
  margin:20px;
}
/* .form-style {
  width: 100%;
  margin:20px; */
  /* padding-left: 30px; */
/* } */
.create-form-label {
  color: whitesmoke !important;
  font-size: 12px !important;
  font-family: 'Work Sans', sans-serif;
}
.input-style {
  padding: 5px;
  margin-left: 4px;
}